{{set . "title" "Home"}}
{{template "header.html" .}}

<div class="container text-white mt-2" style="background-color: black; box-shadow: 0 8px 15px black; border-radius: 3px 3px;">
  <h5>Abyss Engine</h5>
  <p>
    Abyss Engine is an ARPG game engine in the same vein of the 2000's games, and supports playing games similar to Diablo 2. The engine is written in golang and is cross platform. This engine does not ship with game specific files, and will require a game's assets in order to run.

    We are currently working on features necessary to play Diablo 2 in its entirety. After this is completed, we will work on expanding the project to include tools and plugin support for modding, as well as writing completely new games with the engine.

    Please note that this game is neither developed by, nor endorsed by Blizzard or its parent company Activision.

    Diablo 2 and its content is ©2000 Blizzard Entertainment, Inc. All rights reserved. Diablo and Blizzard Entertainment are trademarks or registered trademarks of Blizzard Entertainment, Inc. in the U.S. and/or other countries.

    ALL OTHER TRADEMARKS ARE THE PROPERTY OF THEIR RESPECTIVE OWNERS.
  </p>
</div>

{{template "footer.html" .}}
