{{set . "title" "Home"}}
{{template "header.html" .}}

<div class="container bg-dark">
<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
 <a class="navbar-brand" href="/">
  <img src="/public/img/favicon.png" alt="Abyss Engine Logo"></img>
 </a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
  </div>
</nav>
</div>
{{template "footer.html" .}}
