{{set . "title" "Status"}}
{{template "header.html" .}}
<div class="container text-white mt-2" style="background-color: black; box-shadow: 0 8px 15px black; border-radius: 3px 3px;">
    At the moment (december 2020) the game starts, you can select any character and run around Act1 town. You can also open any of the game's panels.

    Much work has been made in the background, but a lot of work still has to be done for the game to be playable.
    
    Feel free to contribute!
</div>
{{template "footer.html" .}}